<div class="small-12 columns">
<div class="form-style-9">
<h1 style="text-align: center; color:#257C9E">Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.firstname %></td>
        <td><%= profile.lastname %></td>
        <td><%= profile.address %></td>
        <td><%= profile.user %></td>
        <td><%= link_to 'Show', profile %>  | <%= link_to 'Edit', edit_profile_path(profile) %> <%= button_to 'Destroy', profile, class: 'small button round',  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Profile', new_profile_path %>-->
</div>
</div>

