<div class="large-12 columns">

<div class="large-4 columns">
<div class="form-style-10">
<p><img src="http://placehold.it/400x400&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
<p class="lead">Copernican Revolution caused an uproar</p>
<p class="subheader">Find Earth-like planets life outside the Solar System</p>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-10">
<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
<p class="lead">Copernican Revolution caused an uproar</p>
<p class="subheader">Find Earth-like planets life outside the Solar System</p>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-10">

<h1>Sign Up Now !</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="section"><span>1</span>Email Address </div>
  <div class="inner-wrap">
       <%= f.email_field :email, autofocus: true %>
  </div>

 <div class="section"><span>2</span>Password</div>
  <div class="inner-wrap">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="section"><span>3</span>Password Confirmation</div>
  <div class="inner-wrap">
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
