
<div class="large-12 columns">
<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("CliffSMoher.jpg") %></p>
<p class="lead">Cliffs of Moher top the list of places</p>
<p class="subheader">The Cliffs of Moher are located at the southwestern edge of the Burren, Clare, Ireland</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>


<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("glendalough.jpg") %></p>
<p class="lead">Glendalough is a glacial valley in Wicklow</p>
<p class="subheader">Glendalough is home to one of the most important monastic sites in Ireland</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("dublin.jpg") %></p>
<p class="lead">Dublin, capital of the Republic of Ireland</p>
<p class="subheader">Its medieval buildings include 13th-century Dublin Castle</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>

</div>