
<div class="large-12 columns">
<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("CliffSMoher.jpg") %></p>
<p class="lead">Cliffs of Moher top the list of places in Ireland</p>
<p class="subheader">The Cliffs of Moher are located at the southwestern edge of the Burren, Clare</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>


<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("glendalough.jpg") %></p>
<p class="lead">Glendalough is one of the most important monastic in Wicklow</p>
<p class="subheader">Glendalough is home to one of the most important monastic sites in Ireland</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-8">
<div>
<%= render 'home/search'%>
<%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{params[:q]}&zoom=13&size=500x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C#{params[:lat]},#{params[:long]}&key=AIzaSyB3TZF8oqRknjyFEAKNHNvh7G3RnsZz-Zc") %>

<!--<iframe-->
<!--  width="380"-->
<!--  height="380"-->
<!--  frameborder="0" style="border:0"-->
<!--  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3TZF8oqRknjyFEAKNHNvh7G3RnsZz-Zc-->
<!--    &q=Dublin+Ireland" allowfullscreen>-->
<!--</iframe>-->
</div>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("kylemore_abbey.jpg") %></p>
<p class="lead">Kylemore Abbey is a Benedictine monastery in Galway. </p>
<p class="subheader">The abbey was founded for Benedictine Nuns who fled Belgium in World War in 1920.</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>


<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("donegal.jpg") %></p>
<p class="lead">Donegal is a largely Irish-speaking in northwestern Ireland</p>
<p class="subheader"> Donegal is a largely Irish-speaking region bordering the Atlantic Ocean in northwestern Ireland</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-8">
<p><%= image_tag("dublin.jpg") %></p>
<p class="lead">Dublin is on Ireland’s east coast at the mouth of the River Liffey</p>
<p class="subheader">Its medieval buildings include 13th-century Dublin Castle and St. Patrick’s Cathedral, founded in 1191.</p>
<p><%= button_to 'Book Tour', new_tour_path, class: 'small button round' %></p>
</div>
</div>


</div>