<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="section"><span>1</span>Customer Information </div>
  <div class="inner-wrap">
    
    <% if current_user %>
      <div class="field">
      <%= f.label :firstname, "First Name" %><br>
      <%= f.text_field :firstname, value: current_user.profile.firstname %>
      </div>
    <% else %>
      <div class="field">
      <%= f.label :firstname, "First Name" %><br>
      <%= f.text_field :firstname %>
      </div>
    <% end %>
    
    <% if current_user %>
    <div class="field">
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname, value: current_user.profile.lastname %>
    </div>
    <% else %>
    <div class="field">
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname %>
    </div>
    <% end %>
      <div class="field">
      <%= f.hidden_field :user_id %>
      </div>
  
  </div>
  
  <div class="section"><span>1</span>Tour Type </div>
  <div class="inner-wrap">
     <!--<%= f.label :tourtype, "Tour Type" %><br>-->
    <%= f.select :tourtype, Tour::TYPES %>
  </div>
  
  <div class="section"><span>2</span> Date </div>
  <div class="inner-wrap">
    <!--<%= f.label :day, "Day" %><br>-->
    <%= f.date_select :day, order: [:day, :month, :year] %>
  </div>
  
  <div class="section"><span>3</span> Time </div>
  <div class="inner-wrap">
    <p>Duration - 8hrs</p>
    <%= f.select :time, Tour::TIMES %>
  </div>
  <div class="field">
    <!--<%= f.label :description %><br>-->
    <%= f.hidden_field :description %>
  </div>
  <div class="field">
    <!--<%= f.label :cost %><br>-->
    <%= f.hidden_field :cost %>
  </div>
  <% if current_user %>
  <div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <% end %>
   <div class="field"> Audio: <%= check_box_tag 'tour[audio]', 'audio' %></div>
  <div class="field"> Ticket for Interest Place: <%= check_box_tag 'tour[interest]', 'interest' %></div>
  <div class="field"> Hotel pickup and drop-off <%= check_box_tag 'tour[pick_drop]', 'pick_drop' %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
