<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="section"><span>1</span>Tour Type </div>
  <div class="inner-wrap">
     <!--<%= f.label :tourtype, "Tour Type" %><br>-->
    <%= f.select :tourtype, Tour::TYPES %>
  </div>
  
  <div class="section"><span>2</span> Date </div>
  <div class="inner-wrap">
    <!--<%= f.label :day, "Day" %><br>-->
    <%= f.date_select :day, order: [:day, :month, :year] %>
  </div>
  
  <div class="section"><span>3</span> Time </div>
  <div class="inner-wrap">
    <!--<%= f.label :time, "Time" %><br>-->
    <%= f.select :time, Tour::TIMES %>
  </div>
  <div class="field">
    <!--<%= f.label :description %><br>-->
    <%= f.hidden_field :description %>
  </div>
  <div class="field">
    <!--<%= f.label :cost %><br>-->
    <%= f.hidden_field :cost %>
  </div>
   <div class="field"> Audio: <%= check_box_tag 'tour[audio]', 'audio' %></div>
  <div class="field"> Book Interest Place: <%= check_box_tag 'tour[interest]', 'interest' %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
