<div class="small-12 columns">
<% if user_signed_in? %> 
<div class="form-style-8">
  
<h1>Listing tours</h1>

<table>
  <thead>
    <tr>
      <th>Tour Type</th>
      <th>Day</th>
      <th>Time</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.tourtype %></td>
        <td><%= tour.day %></td>
        <td><%= tour.time %></td>
        <td><%= tour.description %></td>
        <td><%= link_to 'Show', tour %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= button_to 'Destroy', tour, method: :delete, class: 'small button round', data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<!--<%= link_to 'New Tour', new_tour_path, class: 'small button round' %>-->
</div>
</div>
<% end %>
