<div class="large-12 columns">
<div class="form-style-10">
  <p id="notice"><%= notice %></p>
  <h1>View Tour</h1>
  <p>
    <strong>First Name:</strong>
    <%= @tour.firstname %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= @tour.lastname %>
  </p>
  <p>
    <strong>Tour Type:</strong>
    <%= @tour.tourtype %>
  </p>
  
  <p>
    <strong>Day:</strong>
    <%= @tour.day.strftime("%d %b %Y") %>
  </p>
  
  <p>
    <strong>Time Start:</strong>
    <%= @tour.time.strftime("%H:%M %p") %>
  </p>
  <p>
    <strong>Cost:</strong>
    <%= @tour.cost %>
  </p>
  <p>
  <strong>Description:</strong>
    <%= @tour.description %>
  </p>
  
  <%= link_to 'Edit', edit_tour_path(@tour) %> |
  <!-- If user is admin go back to all tour-->
  <%  if current_user.admin? %>
  <%= link_to 'Back', tours_path %>
  
  <!-- else show only user toursr-->
   <% else %>
   <%= link_to 'Back', my_tours_path %>
   <% end %>

</div>


<div class="form-style-10">
<!-- Display the posts of a tour -->
<h1>Reviews on <%= @tour.tourtype %></h1>
<% @tour.posts.each do |p| %>
<p>
<b>Message:</b>
<%= p.post_message %>
</p>
<% end %>
<%= link_to 'New Post', new_tour_post_path(@tour)%> |
<%= link_to 'Show posts', tour_posts_path(@tour) %>

</div>
</div>
<!--<%= render 'home/search'%>-->
<!--<%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{params[:q]}&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C53.3498053,-6.2603097&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyB3TZF8oqRknjyFEAKNHNvh7G3RnsZz-Zc") %>-->
